<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="path" th:content="@{/}"/>

    <!--<link rel="shortcut icon" href="./img/revo.png" type="image/png"/>-->
    <script src="./js/kurento-utils.js"></script>
    <script src="./js/adapter.js"></script>
    <script src="./js/index.js"></script>
    <script src="./js/sockjs-0.3.4.js"></script>
    <script src="./js/stomp.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/jquery-1.11.3.min.js"></script>

    <title>Revo</title>
</head>
<body>
<div class="container">
    <div>
    </div>
    <div>
        <table>
            <tr>
                <td>
                    <div>
                        <video id="videoInput" autoplay="" width="480px" height="360px"></video>
                    </div>
                </td>
                <td>
                    <div>
                        <video id="videoOutput" autoplay="" width="480px" height="360px"></video>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
